@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: Caleb Snow
   Date:   10/26/18
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */

/* These stles are made to make sure all of the rows flow correctly with the pages needed designs */
div.row {
    width: 100%;
    clear: both;
}

div.row::after {
    display: table;
    content: "";
    clear: both;
}

/* Grid Columns Styles */

/* All div selectors accompanied with which ever class of column it has attached to it is made to fit the design to the corresponding column designs */
div[class^="column"] {
    float: left;
}

div.column100 {
    width: 100%;
}

div.column50 {
    width: 50%;
}

div.column33 {
    width: 33%;
}

div.column67 {
    width: 67%;
}

div.column25 {
    width: 25%;
}

div.column75 {
    width: 75%;
}

div.column20 {
    width: 20%;
}

div.column40 {
    width: 40%;
}

div.column60 {
    width: 60%;
}

div.column80 {
    width: 80%;
}

/* Grid Spacing Styles */

/* All selectors and classes used here are put there to make sure all content connected with these attributes have the box model design to provent container collapse */
.row,
.container,
div[class^="column"],
div.cell a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}