@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Costume Expressions Front Page
   Author: Caleb Snow
   Date:   10/26/18
   
   Filename: ce_styles.css
*/


/* Window and Body Styles */

/* This style adds a color to the sides of the website where there is no content covering it  */
html {
    background-color: rgb(101, 101, 101);
}

/* This style makes a physical design to the website centering, giving it fonts to work with, and adding boundaries for the content of the page to stop at  */
body {
    position: relative;
    background-color: white;
    font-family: Verdana, Geneva, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    min-width: 320px;
    max-width: 960px;
}

/* The images are designed to mold together with each other */
img {
    display: block;
    width: 100%;
}

/* The navigation list is designed to show you when you have visited whatever links are displayed on the web page */
nav a:link,
nav a:visited {
    text-decoration-style: none;
}

/* Body Header Styles */

/* The designs here make the missing spots that aren't covered by the content a maroon like color while giving it a sstopping point to not go over its intended placement */
body>header {
    background-color: rgb(191, 68, 70);
    height: 40px;
}

/* The navigation bar on the web page are designed to fit horizontally within the website */
nav ul li {
    display: block;
    float: left;
    margin-right: 20px;
    padding: 10px 0px;
}

/* This style shows you when you visied the links at the top of the page */
body>header>nav a:link,
body>header>nav a:visited {
    font-size: 0.9em;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

/* This style shows the user when they are hovering over the hyper link if their curser goes over it at anytime  */
body>header>nav a:hover,
body>header>nav a:active {
    color: rgb(255, 211, 211);
}

/* DIV Container Styles */

/* The div selector aquainted with the container class makes it so that the grid style applied in the corresponding stylesheet dfoes't make any conflicts including container collapse */
div.container {
    padding-right: 8px;
    padding-bottom: 8px;
}

/* This style makes the div elements with the cell class are all in correct order on the webpage itself */
div.cell a {
    display: block;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
}

/* Footer Styles */

/* This footer selector adds the styles needed for the fotter to look and flow well with the page */
footer {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgb(143, 33, 36);
    text-align: right;
    font-size: 2vmin;
}